/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}





body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;

  background-color: #f4f4f4;
}

input:focus {
  outline: none; /* This removes the default focus outline */
  border: none; /* This removes the border */
}

